<div class="info-page">
  <div class="info-page__hero">
    <h1>Política de devoluciones</h1>
  </div>

  <div class="info-page__contenido container">
    <div class="info-page__texto">
      <h3>Cambios</h3>
      <p>
        Cambios únicamente por TALLE o FALLA de fábrica, si NO hay stock no se realizan cambios por otro modelo o color      </p>

      <p>
        Se realiza el cambio <strong>UNA</strong> sola vez, dentro de los 7 días después de realizada la compra.
      </p>

      <p>
       No se aceptan prendas con perfume, lavadas, usadas o maltratadas.
      </p>

      <p>
        Las <strong>ofertas no</strong> tienen cambios ni devoluciones.
      </p>
    </div>
  </div>
</div>