<div class="info-page">
  <div class="info-page__hero">
    <h1>Quiénes somos</h1>
  </div>

  <div class="info-page__contenido container">
    <div class="info-page__texto">
      <h3>Cómo nació Khai y por qué</h3>
      <p>
        Para mí, KHAI representa mucho más que ropa. Es una visión que va más allá de lo superficial y del estigma
        social. Es cotidianidad, transparencia y nuestra realidad interna.

        La ropa siempre fue un símbolo de personalidad y actitud, no solo apariencia. En mis mejores días, mis outfits
        acompañan mis alegrías; en los peores, también… y es inevitable que nuestras emociones se reflejen en cómo nos
        vestimos.

        Queremos que la experiencia con KHAI sea más que solo comprar, que se acerquen a nosotros por gusto y por las
        prendas que realmente los hagan sentir bien. Queremos transmitir seguridad y comodidad, sentirnos libres de
        elegir cómo vestirnos y qué queremos expresar con eso!
      </p>

      <h3>Sobre mí</h3>
      <p>
        Soy Tiziana, tengo 22 años y no voy a mentir; quizá este deseo por emprender sea un poco pretencioso, y eso es lo que me trae hasta acá, luchando por un nuevo objetivo y un reto diferente.

Espero que este proyecto les guste tanto como a mí y que confíen en nosotros. Los motivos personales detrás de este emprendimiento no me alcanzarían ni en mil millones de páginas para contarlos todos.

Pero uno de esos, como cualquier joven es perseguir mi progreso. Puede que esta idea tenga muchos obstáculos y que no resulte o puede que salga muy bien, pero creo firmemente que todo lo que aprendí en estos años me llevó hasta este camino. Este rubro siempre me llamó la atención y me siento feliz de poder avanzar hoy en lo que me gusta!

En lo personal, solo quiero divertirme y disfrutar del proceso, dejar las frustraciones atrás. Al final del día, todos estamos buscando quiénes ser y cómo vivir mejor, y este proyecto es parte de mi camino para encontrarlo y espero que ustedes me puedan acompañar en esta nueva etapa. 💗🏹
      </p>
    </div>
  </div>
</div>