<header class="navbar">
  <div class="navbar__top">
    <span>Seguinos en &#64;lovekhai___ para todas las novedades</span>
  </div>

  <nav class="navbar__main">
    <button class="navbar__hamburger" (click)="menuAbierto = !menuAbierto">
      <span></span><span></span><span></span>
    </button>

    <a routerLink="/" class="navbar__logo">Khai.</a>

    <a routerLink="/carrito" class="navbar__carrito">
      🛍️
      @if (carritoService.cantidadTotal() > 0) {
        <span class="navbar__badge">{{ carritoService.cantidadTotal() }}</span>
      }
    </a>
  </nav>

  <div class="navbar__links-bar" [class.open]="menuAbierto">
    <ul class="navbar__links">
      <li><a routerLink="/" (click)="menuAbierto = false">Inicio</a></li>
      <li><a (click)="irAProductos()" style="cursor:pointer">Productos</a></li>
      <li><a routerLink="/contacto" (click)="menuAbierto = false">Contacto</a></li>
      <li><a routerLink="/politica-devoluciones" (click)="menuAbierto = false">Política de Devolución</a></li>
      <li><a routerLink="/como-comprar" (click)="menuAbierto = false">Cómo Comprar</a></li>
      <li><a routerLink="/quienes-somos" (click)="menuAbierto = false">Quiénes Somos</a></li>
    </ul>
  </div>
</header>