# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Angular build
frontend/dist/
frontend/.angular/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db